pandas==2.1.3
seaborn==0.12.2
matplotlib==3.7.1
numpy==1.25.1
torch==2.1.0
ipython
scipy
plotly
scikit-learn==1.0.2  # Or another version compatible with imbalanced-learn
nbformat>=4.2.0
missingno
nltk
mlflow
dagshub
imbalanced-learn==0.9.0  # Compatible with scikit-learn 1.x and 0.24.x
fastapi
uvicorn
